.container {
  max-width: 400px;
  height: 500px;
  border: 1px solid;
  margin-top: 40px;
  padding: 25px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.search-icon {
  text-align: center;
}
h1 {
  color: blue;
  padding: 20px;
}

.today {
  margin-left: 15px;
  font-size: 20px;
  width: 300px;
  float: left;
}
.current-weather {
  text-align: right;
  font-weight: normal;
  font-size: 18px;
}
.wrapper {
  width: 500px;
  overflow: hidden;
  padding-top: 20px;
}
.sunny-icon {
  color: #fbbc04;
  font-size: 35px;
}
.cloudysun {
  color: #fbbc04;
  font-size: 35px;
}
.more {
  display: block;
  margin: 20px auto;
  background-color: rgb(174, 174, 236);
  border-radius: 10px;
  border: none;
}
.day {
  color: black;
  padding: 30px;
  text-decoration: none;
  margin-left: 60px;
}
.day:hover {
  text-decoration: underline;
  font-weight: bold;
}
.weather-icon {
  padding: 40pxpx;
}

.row {
  margin-top: 30px;
  padding-left: 70px;
}
.github {
  text-align: center;
  font-size: 18px;
}
